name: Build and create release

on:
  push:
    tags:
      - v*

jobs:
  build_ubuntu_20:
    name: Build wheels on Ubuntu 20.04
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools
          pip install build
      - name: Build package
        run: python -m build
      - uses: actions/upload-artifact@v3
        with:
          name: package
          path: ./dist/*

  create_release:
    needs: [build_ubuntu_20]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/download-artifact@v3
        with:
          name: package
      - name: Display structure of downloaded files
        run: ls -R
#      - uses: ncipollo/release-action@v1
#        with:
#          token: ${{ secrets.GITHUB_TOKEN }}
#          artifacts: "./*"
